/* @font-face {
    font-family: RobotoBold;
    src:
     url(../fonts/Roboto/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: RobotoMed;
    src: url(../fonts/Roboto/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: AvenirBold;
    src: url(../fonts/Avenir/AvenirNextCyr-Bold.ttf);
} */



.img-container {
  position: relative;
  display: flex;
    justify-content: center;
    align-items: baseline;
  width: 300px;
  height: 420px;
  border-collapse: grey;
  border-style: solid;
  border-width: 0.8px;
}

.img-container img {
  width: 220px;
    height: auto;
    padding: 20px;
}


.sale-bar {
  margin-top: 50px;
}

.sale-bar {
  position: absolute;
  width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: red;
    text-align: center;
    line-height: 2.1;
    letter-spacing: 2.5px;
    bottom: 82%;
    left: 3%;
}

.promotion-content {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100px;
  top: 85%;
}

h3 {
  color: #e53935;
  letter-spacing: 1.5px;
  padding: 4px;
  padding-left: 10px;
  margin: 5px;
}

.promotion-content p {
  font-size: 22px;
  font-weight: bolder;
  padding: 4px;
  padding-left: 10px;
  margin: 5px;
}

.sale-price, .normal-price {
  font-size: 16px;
}

.sale-price {
  color: #757575;
  padding-right: 20px;
}

.normal-price {
  color: #E0E0E0;
  text-decoration: line-through;
}